{% extends 'base.html' %}

{% block center %}
    <h2> Lista de Alunos</h2>

    <form action="" method="GET">
        <label for="nome">Nome do aluno</label>
        <input type="text" name="nome" value="{{nome}}">
        <label for="curso">Curso</label>
        <input type="text" name="curso" value="{{curso}}">
        <label for="cidade">Cidade</label>
        <input type="text" name="cidade" value="{{cidade}}">
        <input type="submit">
    </form>

    <a href="{% url 'aluno_criar' %}" class="btn btn-success mb-3">Novo Cadastro</a>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Email</th>
            <th>Cidade</th>
            <th>Curso</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in alunos %}
            <tr>
                <td>{{ obj.nome_aluno }}</td>
                <td>{{ obj.data_nascimento }}</td>
                <td>{{ obj.email }}</td>
                <td>{{ obj.cidade.nome }}</td>
                <td>{{ obj.curso.nome }}</td>
                <td>
                    <a href="{% url 'aluno_editar' id=obj.id %}" class="btn btn-primary btn-sm">Editar</a>
                    <a href="{% url 'aluno_remover' id=obj.id %}" class="btn btn-danger btn-sm">Remover</a>
                </td>
            </tr>
        {% endfor %}

        <ul>

            {% if alunos.has_previous %}
            <li><a href="?pagina={{ alunos.previous_page_number }}&nome={{nome}}&cidade={{cidade}}&curso={{curso}}">Voltar</a></li>
            {% endif %}

            {% for aluno in alunos.paginator.page_range %}
            <li><a href="?pagina={{aluno}}&nome={{nome}}&cidade={{cidade}}&curso={{curso}}">{{aluno}}</a></li>
            {% endfor %}

            {% if alunos.has_next %}
            <li><a href="?pagina={{ alunos.next_page_number }}&nome={{nome}}&cidade={{cidade}}&curso={{curso}}">Seguir</a></li>
            {% endif %}

        </ul>

        </tbody>
    </table>


{% endblock %}